[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "~=2.23"
rplcd = "~=1.2"
smbus2 = "~=0.3"
lxml = "~=4.5"
google-api-python-client = "~=1.8"
google-auth-httplib2 = "~=0.0"
google-auth-oauthlib = "~=0.4.1"
tzlocal = "~=2.0"

[dev-packages]

[requires]
python_version = "3.7"
