[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "~=2.23"
rplcd = "~=1.2"
smbus2 = "~=0.3"
lxml = "~=4.5"

[dev-packages]

[requires]
python_version = "3.7"
